
@{
    ViewBag.Title = "Createplayers";
    Layout = null;
}
<head>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/TeamManagement/font.css">
    <link rel="stylesheet" href="~/Content/TeamManagement/xadmin.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="~/Content/Home/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Home/pe-icon-7.css" rel="stylesheet" type="text/css" />
    <!--Slider-->
    <link rel="stylesheet" href="~/Content/Home/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/Home/owl.theme.default.min.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .ui-autocomplete {
            max-height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .input-group-addon {
            width: 50px;
        }

        .radio {
            padding-left: 5px;
            padding-left: 22px;
        }
    </style>
</head>
<ul id="playersIndexer" class="nav nav-tabs" style="margin-top:10px; margin-bottom:20px;">
    <li style="margin-left:10px;">
        <a href="/TeamManagement/TeamMember" tabindex="全部队员列表">
            <span class="glyphicon glyphicon-user"></span>
            <span class="hidden-xs">全部<span class="hidden-sm hidden-xs">队员</span></span>
        </a>
    </li>
    <li class="" title="添加本地队员">
        <a href="CreatePlayers">
            <span class="glyphicon glyphicon-plus-sign hidden-sm"></span>
            <span class="hidden-xs">添加<span class="hidden-sm">本地队员</span></span>
        </a>
    </li>
</ul>
<script type="text/javascript">
    $('#playersIndexer').find('a').filter(function () { return $(this).text().trim() == '添加本地队员'; }).parent().addClass('active');
</script>
<div class="panel panel-default">
    <div class="page-header" style="text-align: center;">
        <h1>
            添加本地球员
        </h1>
    </div>
    <div class="panel-body">
        <form action=" " class="form-horizontal" data-ajax="true" data-ajax-begin="handlerBegin" data-ajax-failure="handlerFailure" data-ajax-method="POST" data-ajax-success="handlerSuccess" id="form0" method="post">
            <div class="validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-3 control-label required">球员名称</label>
                <div class="col-md-3 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="layui-icon layui-icon-username"></i></span>
                        <input class="form-control" data-format="dbc2sbc" data-val="true" data-val-required="球员名称 字段是必需的。" id="Name" name="Name" placeholder="请输入球员名称" type="text" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-3 control-label required">场上位置</label>
                <div class="col-md-3 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="layui-icon layui-icon-location"></i></span>
                        <input class="form-control" data-format="dbc2sbc" data-val="true" data-val-required="场上位置 字段是必需的。" id="Location" name="Location" placeholder="请输入球员位置" type="text" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-3 control-label" for="Location">年龄</label>
                <div class="col-md-3 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="layui-icon layui-icon-right"></i></span>
                        <input class="form-control" data-val="true" data-val-number="字段 年龄 必须是一个数字。" data-val-required="年龄 字段是必需的。" placeholder="请输入球员年龄" id="Age" name="Age" type="number" value="" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-3 control-label required" for="Time">性别</label>
                <div class="col-md-3 col-sm-4">
                    <div class="input-group">
                        <ul class="list-inline list-unstyled">
                            <li><label for="" class="radio inline" title="男"><input data-val="true" data-val-required="性别字段是必需的" id="" name="Sex" type="radio" value="男" />男</label></li>
                            <li><label for="" class="radio inline" title="女"><input id="" name="Sex" type="radio" value="女" />女</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-3 control-label" for="">
                </label>
                <div class="col-md-9 col-sm-9">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp;添加&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-default" id="back"><span class="glyphicon glyphicon-remove"></span>&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $("#back").click(function () {
        history.back(-1);
    });
</script>

