@{
    ViewBag.Title = "Home Page";
}
<section class="hero-1-bg bg-light" style="background-image: url(../../img/Home/hero-1-bg-img.png)" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <h1 class="display-4 font-weight-medium mb-4">您好！</h1>
                <h1 class="hero-1-title font-weight-normal text-dark mb-4">欢迎使用球队管理系统</h1>
                <p class="text-muted mb-4 pb-3">在这里你可以创建或加入一支球队打造一支理想的球队，可以随心所欲的管理自己的球队</p>
                <a href="Home/CreateTeam" class="btn btn-primary">开始 <span class="ml-2 right-icon">&#8594;</span></a>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class=" mt-5 mt-lg-0"><img src="~/img/Logins/1.png" alt="" class="img-fluid d-block mx-auto"></div>
            </div>
        </div>
    </div>
</section>
<!-- Hero End --><!-- About us Start -->

    @*<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center mb-5">
                    <h2 class="">关于我们</h2>
                    <P class="text-muted">您可以在这里了解到系统能做到的主要功能，希望能帮助您更快的了解本系统。</P>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h2 class="font-weight-normal line-height-1_4 mb-4">系统功能的介绍</h2>
                <p class="text-muted mb-4">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil atque corrupti molestiae.</p>
                <p class="f-17 text-muted"><i class="icon-xs text-primary icon-fill-primary icon mr-2" data-feather="grid"></i>Marketing program activities</p>
                <p class="f-17 text-muted"><i class="icon-xs text-primary icon-fill-primary icon mr-2" data-feather="layout"></i>Customization product</p>
                <p class="f-17 text-muted mb-4"><i class="icon-xs text-primary icon-fill-primary icon mr-2" data-feather="monitor"></i>At vero eos accusamus iusto</p>
                <a href="#" class="read-more f-18">More Information <span class="ml-2 right-icon f-24">&#8594;</span></a>
            </div>
            <div class="col-lg-4">
                <div class="card border-0">
                    <div class="bg-soft-primary about-img rounded"><img src="~/img/Home/about/img-1.png" alt="" class="img-fluid d-block mx-auto"></div>
                    <div class="mt-3">
                        <p class="text-uppercase text-muted mb-2 f-13">Development</p>
                        <h4 class="f-18">Product Development</h4>
                        <p class="text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni.</p>
                        <a href="#" class="read-more">Read More <span class="ml-2 right-icon">&#8594;</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0">
                    <div class="bg-soft-info about-img rounded"><img src="~/img/Home/about/img-2.png" alt="" class="img-fluid d-block mx-auto"></div>
                    <div class="mt-3">
                        <p class="text-uppercase text-muted mb-2 f-13">Marketing</p>
                        <h4 class="f-18">Marketing Product</h4>
                        <p class="text-muted">Temporibus autem quibusdam a officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
                        <a href="#" class="read-more">Read More <span class="ml-2 right-icon">&#8594;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <script>
        $(document).ready(function () {
            $("#Home").attr("class", "nav-item active");
        });
    </script>
